{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block nav_links %}

<li> <a href="/chart">
            <i class="fa fa-dashboard"></i> <span>Example Charts</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Example Project</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-user"></i> <span>Users</span>
        </a>
    </li>
{% endblock nav_links %}
